*
{
   padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Passion One', cursive;
}
.menu{
    background-image: url(milky-way-2695569_1920);
}
.menu-bar{
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 29px;
  -webkit-transition-property: width,background-color; 
  -webkit-transition-duration: 1s; 
  transition-property: width,background-color;
  transition-duration: ease-in-out 2s;
  padding-top: 10.5px;
  padding-left: 10px;
}
.menu-bar a{
    text-decoration: none;
    color: black;
}
.menu-bar .fa{
margin-right: 5px;
font-size: 25px;
}
.menu-bar:hover {
  width: 200px;
  background: rgba(199, 199, 199, 0.431);
}
